# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg

# Ambiente virtual
.venv/
venv/
ENV/

# Ambiente
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Docker
postgres_data/

# Testes
.coverage
htmlcov/
.pytest_cache/

# Streamlit
.streamlit/secrets.toml